<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <!--
        MNote, p153
        By default, the log output from Testcontainers is extensive.
        The config file limits log output to the INFO, discarding DEBUG and TRACE from the Testcontainers library.
    -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
